networks:
  autotagger-service:
    driver: bridge

services:
  autotagger:
    build: .
    gpus: all
    user: "1000:1000"
    restart: always
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - MAX_INFLIGHT=2
      - MAX_UPLOAD_MB=32
      - MODEL_PATH=models/model.pth
    ports:
      - "5000:5000"
    volumes:
      - .:/autotagger
    mem_limit: "2g"
    cpus: "1.0"
    shm_size: "2gb"
    networks:
      - default
      - autotagger-service
